body {
    background-color: rgb(240, 240, 240);
}

h1 {
    
    display: flex;
    justify-content: center;
    background-color: rgb(184, 221, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
     padding: 20px;
     margin: 50px auto;
     margin-left: 800px;
     margin-right: 800px;
     border-radius: 8px;
     box-shadow: 16px black;
     border: 3px solid rgb(9, 11, 72);
}

h2 {
    
    display: flex;
    justify-content: center;
    background-color:  rgb(184, 221, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
     padding: 20px;
     margin: 50px auto;
     margin-left: 400px;
     margin-right: 400px;
     border-radius: 8px;
     box-shadow: 16px black;
     border: 3px solid rgb(9, 11, 72);
}

#question-text {
    display: flex;
    justify-content: center;
}

.option-button {
    font-size: 1.2rem;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    max-width: 400px;
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    background-color: lightgray;
    color:black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #e0e0e0;
}

#options-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px auto;
    margin-left: 100px;
}

#question-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(184, 221, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
     padding: 20px;
     margin: 90px auto;
     border: 2px solid black;
     border-radius: 6px;


}


#quiz-container, 
#score-container {
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
     padding: 20px;
     margin: 50px auto;
     margin-left: 200px;
     margin-right: 200px;
     border-radius: 8px;
     box-shadow: 16px black;
     border: 3px solid rgb(9, 11, 72);
}

#next-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#score-text {
    display: flex;
    justify-content: center;
    font-size: 28px;
    background-color: #aabd88;
    margin-left: 700px;
    margin-right: 700px;
}

#button-restart {
    display: flex;
    justify-content: center;
}

#restart-button {
    font-size: 1.2rem;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    max-width: 400px;
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    background-color: lightgray;
    color:black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#question-container


.hidden { 
    display: none;
}
